.btn, button {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    line-height:34px;
    color: #FFF;
    background:#428BEF;
    cursor: pointer;
    border:none;
    outline:none;
    vertical-align: baseline;
    font-family: '微软雅黑';
    height: 34px;
    width: 115px;
}

body {
    font-size: 12px;
    line-height: 1.5;
}

.box-hd {
    height: 50px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e4e7eb;
    line-height: 50px;
}

button.gray {
    color: #585858;
    background-color: #e7eaf1;
}

button.gray:hover {
    background-color: #eff1f6;
}

.btn:hover, button:hover {
    text-decoration: none;
    background-color: #6ba8fc;
}

a:visited {
   color: #428BEF;
}

a:link {
    color: #428BEF;
}

a {
    text-decoration: none;
    outline: none;
}

input {
    outline: none;
    vertical-align: middle;
}

select {
    padding: 7px;
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
