html {
    overflow-y: scroll;
}

body {
    background-color: rgb(245, 246, 248);
    font-family: "微软雅黑", Helvetica, Tahoma, Arial, SimSun, Heiti, "黑体", sans-serif;
    font-size: 12px;
    line-height: 1.5;
}

.nav-bar {
    top: 0;
    position: fixed;
    width: 100%;
    min-width: 1004px;
    height: 55px;
    background-color: rgb(38, 38, 38);
}

.nav-bar .container {
    width: 1004px;
    margin: 0 auto;
    padding: 0 10px;
}

.nav-logo {
    float: left;
    height: 20px;
    margin-top: 20px;
}

.nav-link li {
    height: 14px;
    padding: 0 8px;
    float: left;
    border-right: 1px solid #A3A3A3;
}

.nav-link li a {
    color: #A3A3A3;
    text-decoration: none;
}

.nav-link {
    line-height: 14px;
    font-size: 14px;
    float: right;
    margin-top: 22px;
}

.nav-pages {
    float: left;
    font-size: 14px;
    margin-top: 19px;
    margin-left: 55px;
}

.nav-pages li {
    height: 14px;
    padding: 0 20px;
    float: left;
}

.nav-pages li a {
    color: #A3A3A3;
    text-decoration: none;
}

.article {
    width: 100%;
    padding-top:95px;
}

.clear-fix:before,
.clear-fix:after {
    content: " ";
    display: table;
}
.clear-fix:after {
    clear:both;
}

.content {
    margin: 0 auto;
    width: 1004px;
}

.left-container {
    float: left;
    width: 260px;
    height: 495px;
    background: url("../image/router_info_bg.png") repeat-x scroll #5A9CE6;
    border-radius: 2px;
}

.left-container div {
    text-align: center;
    width: 100%;
}

.left-container .run-info {
    height: 50px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 50px;
}

.left-container .run-info .router-run-day {
    margin: 0 10px;
    color: #DFB850;
}

.left-container .speed-info {
    color: #FFFFFF;
    height: 100%;
    padding: 55px 0;
}

.left-container .speed-info .router-down-speed {
    height: 30%;
    position: relative;
}

.left-container .speed-info .router-down-speed .router-down-speed-value {
    font-size: 90px;
    line-height: 90px;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}

.router-down-speed-unit {
    font-size: 14px;
}

.router-down-speed-title {
    font-size: 12px;
    margin: 10px 0;
}

.right-container {
    float: left;
    width: 744px;
    height: 495px;
    overflow: hidden;
}

.right-container div {
    margin-left: 20px;
}

.network_info {
    height: 130px;
    border-bottom: 1px solid #DCDCDC;
}

.app-list {
    min-width: 365px;
    width: 100%;
    margin-top: 24px;
}

.app-list ul li {
    float: left;
    width: 32%;
    margin: 0 5px 20px 0;
}

.app-list ul li div {
    width: 205px;
    height: 140px;
    border-radius: 1px;
    padding: 20px 0 0 20px;
    margin: 0 auto;
    overflow: hidden;
}

.dev_list_app {
    background: url("../image/icon_dev_list.png") right bottom no-repeat #FFB71B;
}

.wifi_protect_app {
    background: url("../image/icon_wifi_protected.png") right bottom no-repeat #A0D468;
}

.wifi_set_app {
    background: url("../image/icon_wifi_set.png") right bottom no-repeat #48CFAD;
}

.wan_set_app {
    background: url("../image/icon_wan_set.png") right bottom no-repeat #4FC1E9;
}

.friends_net_app {
    background: url("../image/icon_friends_net.png") right bottom no-repeat #ED5565;
}

.smart_home_app {
    background: url("../image/icon_smart_home.png") right bottom no-repeat #AC92EC;
}

.footer {
    clear: both;
    text-align: center;
}

.copyright {
    padding: 35px 0 20px;
    color: #818181;
}

.os {
    display: inline-block;
    margin: 0 auto;
    padding: 0 15px;
    line-height: 30px;
    border-radius: 45px;
    border: 1px solid #E3E3E5;
}