html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #EDEDED;
}

.header {
    text-align: center;
    background-color: #0089BA;
    padding: 10px;
    color: #FFF;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.container table {
    margin: 10px auto;
    width: 100%;
    border-collapse: collapse;
}

.container table,
.container th,
.container td,
.container tr {
    border: solid 1px #DDD;
}

#iframe_hidden {
    height: 0;
    width: 0;
    display: none;
}

.section {
    margin-top: 10px;
    /*border: solid 1px black;*/
    border-radius: 5px;
    background-color: #FFFFFF;
}

.section .section-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    background-color: #F3F5F7;
}

.section .section-content {
    padding: 5px;
}

.table-box .tb-page-item-num {
    float: left;
}
.table-box .tb-page-nav {
   float: right;
}

.table-box .tb-page-nav .jump-input {
   width: 40px;
}

.article {
    margin-top: 10px;
    background-color: #FFFFFF;
    padding: 10px 5px;
}

.search-box {
    text-align: right;
}

.search-box .search {
    height: 30px;
    width: 300px;
}

.search-box button {
    width: 50px;
    border-radius: 5px;
}

.search-box select {
    height: 30px;
    width: 80px;
}

.upload-box {
    text-align: right;
}

