body {
    overflow: hidden;
}

.container {
    padding: 0 34px;
}

.container .power {
    position:relative;
    width: 630px;
    height: 200px;
    margin: 75px auto 0;
}

.container .power .select-bar {
    position: relative;
    width: 630px;
    height: 38px;
    font-size: 14px;
    background: url("../images/power_btn_bg.png") repeat-x;
    text-align: center;
}

.container .power .select-bar #pwa-low {
    margin-left: 2px;
}
.container .power .select-bar #pwa-high {
    margin-right: 2px;
}

.container .power .select-bar a,
.container .power .select-bar i {
    float: left;
}

.container .power .select-bar i {
    width: 170px;
    border-top: 1px solid #9e9e95;
    position: relative;
    top: 18px;
    margin: 0 calc(61px/4);
}

.container .power .select-bar a {
   width: 75px;
    height: 38px;
    line-height: 38px;
    font-size: 15px;
    cursor: pointer;
}

.container .power .select-bar a.selected {
    background: url("../images/power_selected.png") no-repeat center;
    color: #FFF;
}

#pw-bg,
#pw-select {
    position: relative;
    height: 26px;
    width: 100%;
}

#pw-bg {
    background: url("../images/power_plus.png") no-repeat;
    margin-bottom: 30px;
}

#pw-select {
    width: 0;
    background: url("../images/power_add.png") no-repeat;
    top: -56px;
}

.intro-text {
    margin: 20px 0 30px;
    font-size: 14px;
    text-align: center;
    padding-left: 10px;
}

.container .rules {
    font-size: 14px;
    text-align: center;
}

.container .rules p {
    line-height: 50px;
    height: 50px;
}

.container .rules .red {
    color: red;
    font-size: 12px;
}

.container .rules table {
    width: 100%;
    line-height: 38px;
    text-align: center;
    border-collapse: collapse;
}

.container .rules table thead th {
    background: #f6f6f9;
    font-weight: normal;
}

.container .rules .btn-wrapper {
    padding: 30px 0;
}

.container .rules .btn-wrapper button {
    width: 115px;
    height: 34px;
}
