body {
    font-size: 14px;
    overflow: hidden;
    font-family: "微软雅黑", Helvetica, Tahoma, Arial, SimSun, Heiti, "黑体", sans-serif;
}

.container {
    padding: 0 34px;
    overflow: hidden;
}

.power {
    position: relative;
    width: 630px;
    height: 200px;
    margin: 75px auto 0;
}

.power .select-bar {
    position: relative;
    width: 630px;
    height: 38px;
    font-size: 14px;
    background: url("../images/power_btn_bg.png") repeat-x;
    text-align: center;
}

.power .select-bar #pwa-low {
    margin-left: 2px;
}

.power .select-bar #pwa-high {
    margin-right: 2px;
}

.power .select-bar a,
.power .select-bar i {
    float: left;
}

.power .select-bar i {
    width: 170px;
    border-top: 1px solid #9e9e95;
    position: relative;
    top: 18px;
    margin: 0 calc(61px / 4);
}

.power .select-bar a {
    width: 75px;
    height: 38px;
    line-height: 38px;
    font-size: 15px;
    cursor: pointer;
}

.power .select-bar a.selected {
    background: url("../images/power_selected.png") no-repeat center;
    color: #FFF;
}

#pw-bg,
#pw-select {
    position: relative;
    height: 26px;
    width: 100%;
}

#pw-bg {
    background: url("../images/power_plus.png") no-repeat;
    margin-bottom: 30px;
}

#pw-select {
    width: 0;
    background: url("../images/power_add.png") no-repeat;
    top: -56px;
}

.intro-text {
    margin: 20px 0 30px;
    font-size: 14px;
    text-align: center;
    padding-left: 10px;
}

.rules {
    font-size: 14px;
    text-align: center;
}

.rules p {
    line-height: 50px;
    height: 50px;
}

.rules .red {
    color: red;
    font-size: 12px;
}

.rules table {
    width: 100%;
    line-height: 38px;
    text-align: center;
    border-collapse: collapse;
}

.rules table thead th {
    background: #f6f6f9;
    font-weight: normal;
}

.rules .btn-wrapper {
    padding: 30px 0;
}

.rules .btn-wrapper button {
    width: 115px;
    height: 34px;
}

.new-rule .title {
    text-align: center;
    font-size: 14px;
    color: #000000;
}

.form-area .item {
    height: 36px;
    margin-bottom: 10px;
    line-height: 36px;
}

.form-area .item.time-slot-wrapper,
.form-area .item.week-slot-wrapper {
    height: 42px;
    line-height: 42px;
}

.form-area .time-slot,
.form-area .week-slot,
.form-area .mode-set {
    overflow: hidden;
    float: left;
}

.form-area .mode-set {
    height: 100%;
}

.form-area .mode-set * {
    vertical-align: middle;
    line-height: 36px;
}

.time-slot {
    line-height: normal;
}

.time-slot b {
    float: left;
    font-weight: 400;
    margin-top: 14px;
    vertical-align: center;
}

.time-slot input {
    width: 35px;
    height: 20px;
    padding: 10px;
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    line-height: 20px;
    font-size: 14px;
    margin: 0 5px 0 10px;
    float: left;
    text-align: center;
}

.time-slot input:first-child {
   margin-left: 0;
}

.week-slot {
    padding-top: 4px;
}

.week-slot span {
    float: left;
    margin-left: 15px;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border: 1px solid #999999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #999999;
}

.week-slot span:first-child {
    margin-left: 0;
}

.week-slot span:hover {
    cursor: pointer;
}

.week-slot span.active {
    border: 1px solid #428BEF;
    color: #428BEF;
}

.mode-set label{
    margin: 0 20px 0 3px;
}

.form-area .item * {
    vertical-align: middle;
}

.form-area .item .title {
    float: left;
    width: 34%;
    text-align: right;
    padding-right: 10px;
    margin-right: 10px;
}

.new-rule .opt {
    padding: 30px 0;
    text-align: center;
    clear: both;
}

.new-rule .opt button {
    margin: 0 6px;
}
